<div class="row mt-5">
    <div *ngFor="let company of companies; let i = index" style="margin-bottom: 0.1rem" class="col-md-3 col-xl-3 col-sm-2 mb-5">
        <div class="card">
            <img (click)="redirectToSpecificCompany(company.id)" [src]="images[i]" class="card-img-top"
                 [alt]="images[i].toString()">
            <div class="card-body">
                <p class="card-text">{{company.name}}</p>
                <p class="card-text">{{company.ownerName}}</p>
            </div>
        </div>
    </div>
</div>
