<ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let company of companies; index as i">
        <div class="carousel-caption">
            <h3 class="">{{company.name}}</h3>
            <p>{{company.ownerName}}</p>
        </div>
        <a (click)="redirectToSpecificCompany(company.id)">
            <img height="auto" width="100%" [src]="'https://picsum.photos/id/500/900/500'" alt="My image {{i + 1}} description">
        </a>
    </ng-template>
</ngb-carousel>
