<section class="section-b-space">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="top-banner-wrapper">
                                    <img
                                        src="/content/images/Green_Banner_Transparent_Clip_Art_PNG_Image.png"
                                        class="img-fluid"  alt="verdure">
                                    <div class="top-banner-content small-section">
                                        <h5>I prodotti più sani vicino a casa tua</h5>
                                        <p>
                                            Acquista i prodotti della tua terra!
                                        </p>
                                    </div>
                                </div>
                                <div class="collection-product-wrapper" id="products">
                                    <div class="table-responsive" *ngIf="products?.length > 0">
                                        <table class="table table-striped" aria-describedby="page-heading">
                                            <thead>
                                            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                                                [callback]="reset.bind(this)">
                                                <th scope="col" jhiSortBy="productName"><span
                                                    jhiTranslate="solidalApp.product.productName">Product Name</span>
                                                    <fa-icon [icon]="'sort'"></fa-icon>
                                                </th>
                                                <th scope="col" jhiSortBy="productCode"><span
                                                    jhiTranslate="solidalApp.product.productCode">Product Code</span>
                                                    <fa-icon [icon]="'sort'"></fa-icon>
                                                </th>
                                                <th scope="col" jhiSortBy="price"><span
                                                    jhiTranslate="solidalApp.product.price">Price</span>
                                                    <fa-icon [icon]="'sort'"></fa-icon>
                                                </th>
                                                <th scope="col" jhiSortBy="companyId"><span
                                                    jhiTranslate="solidalApp.product.company">Company</span>
                                                    <fa-icon [icon]="'sort'"></fa-icon>
                                                </th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="alert alert-warning" *ngIf="products?.length === 0">
                                        <span jhiTranslate="solidalApp.product.home.notFound">No products found</span>
                                    </div>
                                    <div class="product-wrapper-grid" [ngClass]="layoutView">
                                        <div class="row">
                                            <div class="col-grid-box"
                                                 infinite-scroll
                                                 (scrolled)="loadPage(page + 1)"
                                                 [infiniteScrollDisabled]="page >= links['last']"
                                                 [infiniteScrollDistance]="3"
                                                 [infiniteScrollThrottle]="350"
                                                 [ngClass]="grid"
                                                 [immediateCheck]="true"
                                                 *ngFor="let product of products">
                                                <div class="product-box">
                                                    <jhi-product-box-one
                                                        [product]="product"
                                                        [currency]="'EUR'"
                                                        [thumbnail]="false"
                                                        [cartModal]="true"
                                                        [loader]="true">
                                                    </jhi-product-box-one>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
