<section class="section-b-space">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="top-banner-wrapper">
                                    <img
                                        src="/content/images/Green_Banner_Transparent_Clip_Art_PNG_Image.png"
                                        class="img-fluid"  alt="verdure">
                                    <div class="top-banner-content small-section">
                                        <h5>Cerca le aziende disponibili</h5>
                                        <p>
                                            Favorisci il commercio fra piccole realtà locali.
                                        </p>
                                    </div>
                                </div>
                                <div class="collection-product-wrapper" id="companies">
                                    <div class="table-responsive" *ngIf="companies?.length > 0">
                                        <table class="table table-striped" aria-describedby="page-heading">
                                            <thead>
                                            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                                                <th scope="col"  jhiSortBy="name"><span jhiTranslate="solidalApp.company.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                                <th scope="col"  jhiSortBy="country"><span jhiTranslate="solidalApp.company.country">Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                                <th scope="col"  jhiSortBy="postalCode"><span jhiTranslate="solidalApp.company.postalCode">Postal Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                                <th scope="col"  jhiSortBy="province"><span jhiTranslate="solidalApp.company.province">Province</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="product-wrapper-grid" [ngClass]="layoutView">
                                        <div class="row">
                                            <div class="col-grid-box"
                                                 infinite-scroll
                                                 (scrolled)="loadPage(page + 1)"
                                                 [infiniteScrollDisabled]="page >= links['last']"
                                                 [infiniteScrollDistance]="3"
                                                 [infiniteScrollThrottle]="350"
                                                 [ngClass]="grid"
                                                 [immediateCheck]="true"
                                                 *ngFor="let company of companies">
                                                <div class="product-box">
                                                    <jhi-company-box
                                                        [routerLink]="['/company', company.id, 'view']"
                                                        [company]="company"
                                                        [currency]="'EUR'"
                                                        [thumbnail]="false"
                                                        [cartModal]="true"
                                                        [loader]="true">
                                                    </jhi-company-box>
                                                </div>
                                            </div>
                                            <div class="alert alert-warning" *ngIf="companies?.length === 0">
                                                <span jhiTranslate="solidalApp.product.home.notFound">No companies found</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
