<div class="page-body-wrapper">
    <div class="page-body">
        <main [@animateRoute]="getRouterOutletState(o)">
            <router-outlet #o="outlet"></router-outlet>
        </main>
    </div>
</div>
