<div style="min-height: 40vh">
    <h2 id="page-heading">
        <span jhiTranslate="solidalApp.company.home.title">Companies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-company" [routerLink]="['/company/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="solidalApp.company.home.createLabel">
            Create a new Company
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="companies?.length === 0">
        <span jhiTranslate="solidalApp.company.home.notFound">No companies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="companies?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="solidalApp.company.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vatNumber"><span jhiTranslate="solidalApp.company.vatNumber">Vat Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="creationDate"><span jhiTranslate="solidalApp.company.creationDate">Creation Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="address1"><span jhiTranslate="solidalApp.company.address1">Address 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="address2"><span jhiTranslate="solidalApp.company.address2">Address 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephoneNumber"><span jhiTranslate="solidalApp.company.telephoneNumber">Telephone Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ownerName"><span jhiTranslate="solidalApp.company.ownerName">Owner Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="country"><span jhiTranslate="solidalApp.company.country">Country</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postalCode"><span jhiTranslate="solidalApp.company.postalCode">Postal Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="province"><span jhiTranslate="solidalApp.company.province">Province</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let company of companies ;trackBy: trackId">
                    <td>{{ company.name }}</td>
                    <td>{{ company.vatNumber }}</td>
                    <td>{{ company.creationDate | date:'mediumDate' }}</td>
                    <td>{{ company.address1 }}</td>
                    <td>{{ company.address2 }}</td>
                    <td>{{ company.telephoneNumber }}</td>
                    <td>{{ company.ownerName }}</td>
                    <td>{{ company.country }}</td>
                    <td>{{ company.postalCode }}</td>
                    <td>{{ company.province }}</td>

                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/company', company.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="global.entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/company', company.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="global.entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(company)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="global.entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
