<jhi-alert-error></jhi-alert-error>

<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="company">
            <section class="section-b-space">
                <div class="collection-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <owl-carousel-o [options]="productDetailsMainSliderConfig" #owlCar
                                                class="product-slick">
                                    <ng-container *ngFor="let image of [company]; index as i">
                                        <ng-template carouselSlide [id]="i">
                                            <div>
                                                <img
                                                    [defaultImage]="'https://www.agricolacundari.it/en/assets/images/13495335-959877017462137-4139440547035791040-n-582x380.png'"
                                                    [lazyLoad]="'https://www.agricolacundari.it/en/assets/images/13495335-959877017462137-4139440547035791040-n-582x380.png'"
                                                    [alt]="'asd'" class="img-fluid">
                                            </div>
                                        </ng-template>
                                    </ng-container>
                                </owl-carousel-o>
                            </div>
                            <div class="col-lg-6 rtl-text">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="product-right">
                                            <h2>{{ company?.name }}</h2>

                                            </div>
                                            <div class="border-product">
                                                <h6 class="product-title">company details</h6>
                                                <p>{{ company?.ownerName.substring(0, 200) + '...' }}</p>
                                            </div>
                                            <div class="border-product">
                                                <h6 class="product-title">share it</h6>
                                                <div class="product-icon">
                                                    <!-- <app-social></app-social> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col order-up">
                                        <div class="imgae-outside-thumbnail">
                                            <div class="col-12 p-0 slider-nav-images">
                                                <owl-carousel-o [options]="productDetailsThumbConfig"
                                                                class="product-slick">
                                                    <ng-container *ngFor="let image of [company]; index as i">
                                                        <ng-template carouselSlide [id]="i">
                                                            <div class="owl-thumb"
                                                                 [class.active]="i == activeSlide">
                                                                <img
                                                                    [defaultImage]="'https://www.agricolacundari.it/en/assets/images/13495335-959877017462137-4139440547035791040-n-582x380.png'"
                                                                    [lazyLoad]="'https://www.agricolacundari.it/en/assets/images/13495335-959877017462137-4139440547035791040-n-582x380.png'"
                                                                    [alt]="'asd2'" class="img-fluid"
                                                                    (click)="owlCar.to(activeSlide = i.toString())">
                                                            </div>
                                                        </ng-template>
                                                    </ng-container>
                                                </owl-carousel-o>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section class="tab-product m-0">
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <ngb-tabset [type]="'tabs'" class="nav-material">
                                        <ngb-tab>
                                            <ng-template ngbTabTitle>Description</ng-template>
                                            <ng-template ngbTabContent>
                                                <p>{{ company?.address1 }}</p>
                                            </ng-template>
                                        </ngb-tab>
                                        <ngb-tab>
                                            <ng-template ngbTabTitle>Video</ng-template>
                                            <ng-template ngbTabContent>
                                                <div class="mt-3 text-center">
                                                    <iframe width="560" height="315"
                                                            src="https://www.youtube.com/embed/BUWzX78Ye_8"
                                                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                </div>
                                            </ng-template>
                                        </ngb-tab>
                                        <ngb-tab>
                                            <ng-template ngbTabTitle>Write Review</ng-template>
                                            <ng-template ngbTabContent>
                                                <form class="theme-form">
                                                    <div class="form-row">
                                                        <div class="col-md-12 ">
                                                            <div class="media">
                                                                <label>Rating</label>
                                                                <div class="media-body ml-3">
                                                                    <div class="rating three-star">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="name">Name</label>
                                                            <input type="text" class="form-control" id="name"
                                                                   placeholder="Enter Your name"
                                                                   required>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="email">Email</label>
                                                            <input type="text" class="form-control" id="email"
                                                                   placeholder="Email"
                                                                   required>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label for="review">Review Title</label>
                                                            <input type="text" class="form-control" id="review"
                                                                   placeholder="Enter your Review Subjects" required>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label for="review">Review Title</label>
                                                            <textarea class="form-control"
                                                                      placeholder="Wrire Your Testimonial Here"
                                                                      id="exampleFormControlTextarea1"
                                                                      rows="6"></textarea>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button class="btn btn-solid" type="submit">Submit YOur
                                                                Review
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </ng-template>
                                        </ngb-tab>
                                    </ngb-tabset>
                                </div>
                            </div>
                        </section>
                    <div class="product-buttons mt-5">
                        <button type="submit"
                                (click)="previousState()"
                                class="btn btn-solid">
                            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Indietro</span>
                        </button>

                        <button type="button" *jhiHasAnyAuthority="'ROLE_COMPANY'"
                                [routerLink]="['/company', company?.id, 'edit']"
                                class="btn btn-solid">
                            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span
                            jhiTranslate="global.entity.action.edit">Edit</span>
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
