<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid p-0">
    <router-outlet></router-outlet>
    <jhi-footer></jhi-footer>
</div>
