<div *ngIf="!loader">
  <div class="img-wrapper">
    <div class="lable-block">
    </div>
    <div class="front">
      <a >
        <img
          [defaultImage]="imageSrc ? imageSrc : 'https://images7.alphacoders.com/407/thumb-1920-407496.jpg'"
          [lazyLoad]="imageSrc"
          class="img-fluid lazy-loading"
          alt="{{ product?.productName }}" />
      </a>
    </div>
    <div class="back" *ngIf="onHoverChangeImage">
      <a>
        <img [src]="imageSrc" class="img-fluid lazy-loading" alt="{{ product?.productName }}">
      </a>
    </div>
  </div>
  <div class="product-detail">
    <div>
      <bar-rating [rate]="5" [readOnly]="true"></bar-rating>

      <a (click)="navigateToProductDetail(product?.id)">
        <h6>{{ product?.productName | titlecase }}</h6>
      </a>
      <p>{{ product?.productCode }}</p>
      <h4>
        {{ product?.price | currency:'EUR':'symbol' }}
      </h4>
    </div>
  </div>
</div>
<jhi-skeleton-product-box *ngIf="loader"></jhi-skeleton-product-box>

