<div *ngIf="!loader">
  <div class="img-wrapper">
    <div class="lable-block">
    </div>
    <div class="front">
      <a >
        <img
          [defaultImage]="imageSrc ? imageSrc : 'https://images7.alphacoders.com/407/thumb-1920-407496.jpg'"
          [lazyLoad]="imageSrc"
          class="img-fluid lazy-loading"
          alt="{{ company?.name }}" />
      </a>
    </div>
    <div class="back" *ngIf="onHoverChangeImage">
      <a>
        <img [src]="imageSrc" class="img-fluid lazy-loading" alt="{{ company?.name }}">
      </a>
    </div>
  </div>
  <div class="product-detail">
    <div>
      <bar-rating [rate]="3.5" [readOnly]="true"></bar-rating>
      <a>
        <h6>{{ company?.province | uppercase }}</h6>
      </a>
      <p>{{ company?.ownerName }}</p>
      <h4>
        {{ company?.name }}
      </h4>
    </div>
  </div>
</div>
<jhi-skeleton-product-box *ngIf="loader"></jhi-skeleton-product-box>

