<section class="p-0">
    <jhi-slider
        [sliders]="sliders"
        [textClass]="'text-center p-center'"
        [category]="'companies'"
        [buttonText]="'visita'"></jhi-slider>
</section>
<div class="title1 section-t-space">
    <h4>Nei dintorni</h4>
    <h2 class="title-inner1">in evidenza</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="product-para">
                <p class="text-center">
                    Questi sono i prodotti ritenuti più interessanti da chi vive vicino a te. Dai un'occhiata!
                </p>
            </div>
        </div>
    </div>
</div>
<section class="section-b-space p-t-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <owl-carousel-o class="product-m no-arrow" [options]="productSliderConfig">
                    <ng-container *ngFor="let product of products | slice:0:16">
                        <ng-template carouselSlide>
                            <div class="product-box">
                                <jhi-product-box-one
                                    [product]="product"
                                    [currency]="'EUR'"
                                    [thumbnail]="true"
                                    [cartModal]="true">
                                </jhi-product-box-one>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>

<section class="p-0">
    <div class="full-banner parallax-banner1 parallax text-center p-left"
         [ngStyle]="{'background-image': 'url(http://nextechinnovation.com/wp-content/uploads/2018/08/green-banner-png-3-300x100.png)'}">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="banner-contain">
                        <h3>solidal</h3>
                        <h4>esplora le piccole realtà economiche intorno a te</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <section class="service border-section small-section">
        <jhi-services></jhi-services>
    </section>
</div>
