<form class="form-inline search-form"
      [formGroup]="searchForm">
    <div class="input-group">
        <input type="search" class="form-control-plaintext bg-white" [class.open]="isOpenMobile"
               [placeholder]="'Cerca prodotto...'" aria-label="Search..."
               [formControlName]="'search'"
               aria-describedby="basic-addon1">
        <span class="input-group-append">
             <button type="button" class="btn btn-outline-secondary" (click)="searchProducts()">
                 <jhi-feather-icons [icon]="'search'"></jhi-feather-icons>
             </button>
        </span>
    </div>
</form>
