<div style="min-height: 40vh">
    <h2 id="page-heading">
        <span jhiTranslate="solidalApp.product.home.title">Products</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product"
                [routerLink]="['/product/new']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="solidalApp.product.home.createLabel">
            Create a new Product
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="products?.length === 0">
        <span jhiTranslate="solidalApp.product.home.notFound">No products found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="products?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="productName"><span
                    jhiTranslate="solidalApp.product.productName">Product Name</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="productCode"><span
                    jhiTranslate="solidalApp.product.productCode">Product Code</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="price"><span jhiTranslate="solidalApp.product.price">Price</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="brand"><span jhiTranslate="solidalApp.product.brand">Brand</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="category"><span jhiTranslate="solidalApp.product.category">Category</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="currency"><span jhiTranslate="solidalApp.product.currency">Currency</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="description"><span jhiTranslate="solidalApp.product.description">Description</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="discount"><span jhiTranslate="solidalApp.product.discount">Discount</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="isNew"><span jhiTranslate="solidalApp.product.isNew">Is New</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="quantity"><span jhiTranslate="solidalApp.product.quantity">Quantity</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="sale"><span jhiTranslate="solidalApp.product.sale">Sale</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="type"><span jhiTranslate="solidalApp.product.type">Type</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="tags"><span jhiTranslate="solidalApp.product.tags">Tags</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="companyId"><span jhiTranslate="solidalApp.product.company">Company</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr *ngFor="let product of products ;trackBy: trackId">
                <td><a [routerLink]="['/product', product.id, 'view']">{{ product.id }}</a></td>
                <td>{{ product.productName }}</td>
                <td>{{ product.productCode }}</td>
                <td>{{ product.price }}</td>
                <td>{{product.brand}}</td>
                <td>{{product.category}}</td>
                <td>{{product.currency}}</td>
                <td>{{product.description.substring(0, 100) + '... '}}</td>
                <td>{{product.discount}}</td>
                <td>{{product.isNew}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.sale}}</td>
                <td>{{product.type}}</td>
                <td>{{product.tags}}</td>
                <td>
                    <div *ngIf="product.companyId">
                        <a [routerLink]="['/company', product.companyId , 'view']">{{ product.companyId }}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/product', product.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="global.entity.action.view">View</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/product', product.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="global.entity.action.edit">Edit</span>
                        </button>

                        <button type="submit" (click)="delete(product)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="global.entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
