<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <jhi-alert-error></jhi-alert-error>

            <section class="section-b-space">
                <div class="collection-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <owl-carousel-o [options]="ProductDetailsMainSliderConfig" #owlCar
                                                class="product-slick">
                                    <ng-container *ngFor="let image of [product]; index as i">
                                        <ng-template carouselSlide [id]="i">
                                            <div>
                                                <img [defaultImage]="'assets/images/product/placeholder.jpg'"
                                                     [lazyLoad]="'https://images7.alphacoders.com/407/thumb-1920-407496.jpg'"
                                                     [alt]="'alt'" class="img-fluid"
                                                     [src]="'https://images7.alphacoders.com/407/thumb-1920-407496.jpg'">
                                            </div>
                                        </ng-template>
                                    </ng-container>
                                </owl-carousel-o>
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="slider-nav">
                                            <owl-carousel-o [options]="ProductDetailsThumbConfig" class="product-slick">
                                                <ng-container *ngFor="let image of [product]; index as i">
                                                    <ng-template carouselSlide [id]="i">
                                                        <div class="owl-thumb" [class.active]="i == activeSlide">
                                                            <img
                                                                [defaultImage]="'https://images7.alphacoders.com/407/thumb-1920-407496.jpg'"
                                                                [lazyLoad]="'https://images7.alphacoders.com/407/thumb-1920-407496.jpg'"
                                                                [alt]="'alt2'" class="img-fluid"
                                                                [src]="'https://images7.alphacoders.com/407/thumb-1920-407496.jpg'"
                                                                (click)="owlCar.to(activeSlide = i.toString())">
                                                        </div>
                                                    </ng-template>
                                                </ng-container>
                                            </owl-carousel-o>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 rtl-text">
                                <div class="product-right">
                                    <h2>{{ product?.productName }}</h2>

                                    <div class="product-description border-product">
                                        <h5 class="availability" *ngIf="counter <= 5"><span>In Stock</span></h5>
                                        <h5 class="availability" *ngIf="counter > 5"><span>Out of Stock</span></h5>
                                        <h6 class="product-title">quantity</h6>
                                        <div class="qty-box">
                                            <div class="input-group">
                            <span class="input-group-prepend">
                                <button type="button" class="btn quantity-left-minus" data-type="minus"
                                        (click)="decrement()">
                                    <i class="ti-angle-left"></i>
                                </button>
                            </span>
                                                <input type="text" name="quantity" class="form-control input-number"
                                                       [value]="counter" disabled/>
                                                <span class="input-group-prepend">
                                <button type="button" class="btn quantity-right-plus" data-type="plus"
                                        (click)="increment()">
                                    <i class="ti-angle-right"></i>
                                </button>
                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-buttons">
                                        <a href="javascrip:void(0)" class="btn btn-solid"
                                           [class.disabled]="counter > 2">add to cart</a>
                                        <a href="javascrip:void(0)" class="btn btn-solid"
                                           [class.disabled]="counter > 2">buy now</a>
                                    </div>
                                    <div class="border-product">
                                        <h6 class="product-title">product details</h6>
                                        <p>{{ product?.productName.substring(0, 200) + '...' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section class="tab-product m-0">
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <ngb-tabset [type]="'tabs'" class="nav-material">
                                        <ngb-tab>
                                            <ng-template ngbTabTitle>Description</ng-template>
                                            <ng-template ngbTabContent>
                                                <p>{{ product.description }}</p>
                                            </ng-template>
                                        </ngb-tab>
                                        <ngb-tab>
                                            <ng-template ngbTabTitle>Video</ng-template>
                                            <ng-template ngbTabContent>
                                                <div class="mt-3 text-center">
                                                    <iframe title="youtube-videodev " width="560" height="315"
                                                            src="https://www.youtube.com/embed/BUWzX78Ye_8"
                                                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                </div>
                                            </ng-template>
                                        </ngb-tab>
                                        <ngb-tab>
                                            <ng-template ngbTabTitle>Write Review</ng-template>
                                            <ng-template ngbTabContent>
                                                <form class="theme-form">
                                                    <div class="form-row">
                                                        <div class="col-md-12 ">
                                                            <div class="media">
                                                                <label>Rating</label>
                                                                <div class="media-body ml-3">
                                                                    <div class="rating three-star">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="name">Name</label>
                                                            <input type="text" class="form-control" id="name"
                                                                   placeholder="Enter Your name" required>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="email">Email</label>
                                                            <input type="text" class="form-control" id="email"
                                                                   placeholder="Email"
                                                                   required>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label for="review">Review Title</label>
                                                            <input type="text" class="form-control" id="review"
                                                                   placeholder="Enter your Review Subjects" required>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label for="review">Review Title</label>
                                                            <textarea class="form-control"
                                                                      placeholder="Wrire Your Testimonial Here"
                                                                      id="exampleFormControlTextarea1"
                                                                      rows="6"></textarea>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button class="btn btn-solid" type="submit">Submit YOur
                                                                Review
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </ng-template>
                                        </ngb-tab>
                                    </ngb-tabset>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>

            <div class="mb-5">
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="global.entity.action.back">Back</span>
                </button>

                <button *jhiHasAnyAuthority="'ROLE_COMPANY'" type="button"
                        [routerLink]="['/product', product.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span
                    jhiTranslate="global.entity.action.edit">Edit</span>
                </button>
            </div>
        </div>
    </div>
</div>
