<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Login</h3>
                <div class="theme-card">
                    <form class="theme-form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                        <div class="form-group">
                            <label for="username">Login</label>
                            <input type="text" class="form-control" name="username" id="username"
                                   placeholder="{{ 'global.form.username.placeholder' | translate }}"
                                   formControlName="username" #username>
                        </div>
                        <div class="form-group">
                            <label for="password" jhiTranslate="login.form.password">Password</label>
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="{{ 'login.form.password.placeholder' | translate }}"
                                   formControlName="password">
                        </div>
                        <div class="checkbox-inline">
                            <label class="form-check-label" for="rememberMe">
                                <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe"
                                       formControlName="rememberMe"> Remember me
                            </label>
                        </div>
                        <button class="btn btn-solid mt-3" type="submit" jhiTranslate="login.form.button">Login</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-6 right-login">
                <h3>New Customer</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Create A Account</h6>
                    <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be able
                        to order from our shop. To start shopping click register.</p>
                    <button class="btn btn-solid" (click)="register()">Create an Account</button>
                </div>
            </div>
        </div>
    </div>
</section>
